.preview {
	xborder: 2px solid #333;
	padding: 2px;
	margin-bottom: 16px;
	display: inline-block;
	//display: inline;
	//zoom:1;
}

.preview .inner {
	position: relative;
    z-index: 100;
}
.preview .plan {
	position: relative;
}

.preview canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.preview .map {
	position: absolute;
	top: 0;
	left: 0;
}
