body,
html {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    min-width: 1000px;
    color: #333333;
    font-size: 75%;
    line-height: 1.35;
    background-image: url(../images/body_bg.jpg);
    background-repeat: no-repeat;
    background-color:  #f3f3f3;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a {
   color: #333333;
   text-decoration: underline; 
}
a:hover {
    text-decoration: none;
}
.clear {
    clear: both;
}
img {
    border: medium none;
}
p {
    margin: 0 0 10px;
}
h1 {
    font-size: 200%;
    margin: 0 0 15px;
}
h2 {
    font-size: 170%;
    margin: 0 0 15px;
}
h3 {
    font-size: 140%;
    margin: 0 0 15px;
}
.content:after,
.jcarousel-itemphotos:after,
.wrap_contenpart:after,
.group_news:after,
.project_box:after,
.gallery_main:after,
.project_section:after {
    clear: both;
    content: "";
    display: block;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.main_wrap {
    width: 1000px;
    background: #ffffff;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.38);
}
.header {
    height: 127px;
    overflow: hidden;
    border-bottom: 8px solid #e0d7d2;
    margin: 0 22px;
}
.logo {
    float: left;
    margin: 28px 0 0 32px;
    min-height: 2px;
    width: 158px;
}
.header_menu {
    list-style-type: none;
    margin: 72px 0 0 62px;
    padding: 0;
    float: left;
}
.header_menu li {
    float: left;
    position: relative;
    padding: 0 23px;
}
.header_menu li:after {
    position: absolute;
    content: '';
    right: -4px;
    top: -9px;
    width: 1px;
    height: 33px;
    background: #b7b9b8;
}
.header_menu li:last-child:after {
    display: none;
}
.header_menu li a {
    text-decoration: none;
    color: #575757;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(237,237,237,0.64);
    color: #575757;
    letter-spacing: 0.6px;
}
.header_menu li a:hover {
    text-decoration: underline;
}
.header_contacts {
    float: right;
    width: 193px;
    text-align: left;
    margin: 51px 0 0;
}
.header_contacts .phone {
    padding: 0 0 0 30px;
    position: relative;
    letter-spacing: 0.2px;
    margin: 0 0 9px;
}
.header_contacts .phone,
.header_contacts .phone a {
    color: #333333;
    font-size: 106%;
    text-decoration: none;
}
.header_contacts .phone:after {
    position: absolute;
    content: '';
    width: 13px;
    height: 12px;
    background: url(../images/sprite.png) no-repeat left top;
    left: 0;
    top: 0;
}
.header_contactme {
    margin: 0 0 0 35px;
}
.header_contactme a {
    letter-spacing: 0.3px;
    color: #333333;
}
.header_contactme a:hover {
    text-decoration: none;
}
.content {
    margin: 20px 20px 0;
}
.th_name {
    font-size: 120%;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
}
.th_place {
    font-size: 94%;
    font-weight: bold;
    line-height: 2;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
}
.th_place:hover,
.th_name:hover{
    text-decoration: underline;
}

.thumb {
    float: left;
    text-align: center;
    width: 225px;
    margin: 0 20px 0 0;
}
.thumb + .thumb + .thumb + .thumb {
    margin-right: 0;
}
.thumb .caption {
    margin-top: 10px;
}
.thumb img {
    display: block;
    border-radius: 5px;
}
.thumbnail {
    padding: 0 0 10px; 
    overflow: hidden;
}
.caption p {
    margin: 0;
}
.caption .caption_title {
    margin: 0 0 5px;
}
.caption_describe {
    font-size: 91%;
}
.name_title {
    text-align: center;
    color: #000f11;
    font-size: 208%;
}
.gray_box22 {
    background: #f4f2eb;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    padding: 27px 23px 15px;
    margin: 13px 0 38px;
    display: inline-block; 
    vertical-align: top;
}
.gray_box22 table {
    border-collapse: collapse;
    width: 300px;
    margin: 0 0 34px;
}
.gray_box22 table  tr:last-child td {
    border: none;
}
.gray_box22 table td {
    border-bottom: 1px solid #b7b9b8;
    padding: 5px 0 5px 8px;
    text-align: left;
}
.right_info {
    width: 300px;
    display: inline-block;
    margin-left: 70px;
    vertical-align: top;
}
.print_link {
    position: relative;
    padding: 15px 0 0 50px;
}
.print_link:after {
    position: absolute;
    content: '';
    width: 32px;
    height: 30px;
    left:0;
    top: 0;
    background: url(../images/print.jpg) no-repeat;
}
.gray_box22 table td:last-child {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}
.gray_box22 > p {
    font-size: 130%;
    text-align: left;
    margin-left: 10px;
}
.office {
    margin: 28px 0 0 10px;
}
.guarantee {
    margin: 0;
    overflow: hidden;
}
.guarantee > div {
    float: left;
    position: relative;
    text-align: center;
    width: 200px;
    padding: 0 20px;
    margin: 30px 0 0;
}
.guarantee > div  p {
    font-size: 136%;
    line-height: 1.3;
    max-height: 65px;
    overflow: hidden;
}
.guarantee > div:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 185px;
    background: #b7b9b4;
    right: 0;
    top: -4px;
}
.guarantee > div+ div + div+ div:after {
    display: none;
}
[class^="icon-"],
[class*="icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: text-top;
  background-image: url("../images/sprite.png");
  background-position: left top;
  background-repeat: no-repeat;
}
.guarantee div > i{
    width: 113px;
    height: 113px;
}
.icon-guarantee1 {
     background-position: -28px top;    
}
.icon-guarantee2 {
     background-position: -141px top;
}
.icon-guarantee3 {
     background-position: -254px top;
}
.icon-guarantee4 {
     background-position: -367px top;
}
.guarantee > div i {
    display: block;
	position: relative;
    margin: 0 auto;
}
.news_box {
    overflow: hidden;
    padding: 10px 25px;
}
.news_box > div {
    width: 273px;
    float: left;
    margin: 11px 55px 0 0;
}
.news_box > div + div {
    margin-right: 51px;
    width: 259px;
}
.news_box > div + div + div {
    margin-right: 0;
}
.news_date {
    color: #666666;
    font-size: 91%;
}
.news_title {
    font-size: 114%;
    color: #663333;
    font-weight: bold;
    margin: 0 0 8px;
}
.footer {
    margin: 0 20px;
    padding: 30px 0;
    overflow: hidden;
    border-top: 1px solid #e2e2e2;
}
.footer_socials {
    display: inline-block;
    margin-left: 60px;
}
.footer_socials i {
    width: 24px;
    height: 24px;   
    margin: 0 3px;
    cursor: pointer;
}
.icon-social_fb {
    background-position: left -19px;
}
.icon-social_tw {
    background-position: left -44px;
}
.icon-social_gpl {
    background-position: left -70px;
}
.icon-social_ytube {
    background-position: left -95px;
}
.icon-social_vk {
    background-position: left -120px;
}
.footer_menu {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
    display: inline-block;
    vertical-align: bottom;
}
.footer_menu li {
    float: left;
    margin: 0 16px 0 0;
}
.footer_menu li:last-child {
    margin-right: 0;
}
.footer_menu li a {
    color: #444444;
}
.footer_menu li a:hover {
    text-decoration: none;
}
.footer_address {
    float: right;
    width: 608px;
    text-align: left;
    line-height: 1.3;
}
.copyright {
    float: left;
    width: 280px;
    text-align: left;
    padding-left: 15px;
}
.footer_hr {
    background: none;
    border: none;
    margin: 34px 0 30px;
    padding: 0;
    width: 100%;
    height: 1px;
    background: #e2e2e2;
}
.footer_address a {
    color: #be292b;
    margin-left: 25px;
}
.footer_address a:hover {
    text-decoration: none;
}
.ov_hidden {
    overflow: hidden;
}
/** Carousel **/
.gallery_main {
    position: relative;
    margin: 23px 0 0;
}
.gallery_main .jcarousel {
    position: relative;
    overflow: hidden;
    width: 924px;
    height: 215px;
    margin: 0 0 0 18px;
}

.gallery_main .jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.gallery_main .jcarousel li {
    float: left;
    position: relative;
}
.gallery_main .jcarousel li img {
    border-radius: 7px;
}
.gallery_main  .jcarousel .strict_solution > img {
    border-radius: 0;
    float: right;
    margin: 10px 30px 0 0;
}
/** Carousel Controls **/

.gallery_main .jcarousel-control-prev,
.gallery_main .jcarousel-control-next {
    position: absolute;
    top: 94px;
    width: 18px;
    height: 39px;
    background: url(../images/sprite.png) no-repeat;
    display: block;
    cursor: pointer;
}

.gallery_main .jcarousel-control-prev {
    left: -8px;
    background-position: -247px -113px;
}

.gallery_main .jcarousel-control-next {
    right: -8px;
    background-position: -225px -113px;
}

.gallery_main  .jcarousel-control-prev.inactive,
.gallery_main  .jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.gallery_main  .jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 47%;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    width: 13px;
    height: 13px;    
    background: url(../images/sprite.png) no-repeat -29px -130px;
    text-indent: -9999px;
    margin: 0 3px;
}

.jcarousel-pagination a.active {
    background-position: -29px -116px;
}
.strict_solution {
    width: 378px;
    height: 167px;
    background: rgba(233, 224, 209, 0.87);
    border-radius: 10px;
    position: absolute;
    z-index:22;
    right: 146px;
    top: 14px;
    padding: 0 0 0 26px;
}
.strict_solution_title {
    font-size: 171%;
    text-transform: uppercase;
    color: #000000;
    margin: 14px 0 0;
    padding: 0 160px 0 0;
    line-height: 1.1;
}

.sale_solution {
    font-size: 120%;
    text-transform: uppercase;
    color: #000000;
    margin: 11px 0 18px;
    font-weight: bold;
}
.green_btn{
    background: url(../images/sprite.png) no-repeat -62px -114px;
    width: 161px;
    height: 35px;
    display: block;
    text-decoration: none;
    text-indent: -9999px;
    margin-left: -5px;
}
.write_us_link {
    position: fixed;
    left: 0;
    top: 38%;
    background: url(../images/write_us.png) no-repeat;
    width: 33px;
    height: 221px;
    border-radius: 0 5px 5px 0;
    z-index:11111111;
}

.mt20 {
    margin-top: 20px;
}
.mt30 {
    margin-top: 30px;
}
.mt45 {
    margin-top: 45px;
}
.main_title {
    font-size: 222%;
    margin: 30px 0 25px;
}

.news_section {
    float: right;
    background: #f4f2eb;
    padding: 20px 15px 20px 20px;
    width: 260px;
    border-radius: 4px;
}
.news_section > div {
    margin: 0 0 12px;
}
.title_section { 
    font-size: 187%;
    margin: 0 0 22px;
}
.news_date {
    color: #666666;
    font-size: 80%;
}
.news_title {
    color: #663333;
    font-size: 116%;
    font-weight: bold;
}
.link_allnews {
    position: relative;
}
.link_allnews:hover {
    text-decoration: none;
}
.link_allnews:after {
    position: absolute;
    content: '';
    width: 14px;
    height: 5px;
    background: url(../images/sprite.png) no-repeat -45px -116px;
    left: -18px;
    top: 5px;
}
.left_column {
    float: left;
    width: 620px;
    font-size: 105%;
}
.mid_title {
    color: #222222;
    font-size: 145%;
}
.jcarousel-itemphotos {
    position: relative;
    margin: 0 0 27px;
}
.jcarousel-itemphotos .jcarousel {
    position: relative;
    overflow: hidden;
    width: 110px;
    height: 270px;
}
.jcarousel-itemphotos .big_img {
    float: left;
    margin-right: 15px;
}
.jcarousel-itemphotos .jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
     width: 110px;
}
.jcarousel-itemphotos .jcarousel li {
    border: 5px solid #f4f2eb;
    margin: 0 0 11px;
    display: block;
}
.jcarousel-itemphotos .jcarousel li.active {
    border: 5px solid #7b2928;
}
.jcarousel-itemphotos .jcarousel li img {
    display: block;
    cursor: pointer;
}
.jcarousel-control-next {
    display: block;
    width: 38px;
    height: 17px;
    background: url(../images/sprite.png) no-repeat -265px -114px;
    position: absolute;
    right: 35px;
    bottom: 5px;
}
.jcarousel-control-next.inactive {
    opacity: 0.5;
    cursor: default;
}
.wrap_contenpart {
    padding: 0 10px 40px;
}
.group_news {
    margin: 0 -10px 30px;
}
.group_news  .title {
    background: #f4f2eb;
    padding: 10px 12px;
    font-weight: bold;
    margin: 0 0 13px;
}
.group_news  .title a {
    color: #663333;
    font-size: 116%;
}
.group_news  img {
    float: left;
    border-radius: 5px;
    margin: 0 19px 0 10px;
}
.group_news .news_date {
    margin-top: 20px;
}
.group_news div {
    padding: 16px 30px 0 0;
}
.project_box {
    background: #f4f2eb;
    padding: 15px 25px;
    border-radius: 5px;
    margin: 10px 20px 24px;
}
.project_box  img {
    float: left;
    margin-top: 5px;
}
.project_box .cc {
    padding: 9px 258px 0 147px;
}
.project_box  .footer_socials {
    float: right;
    margin: 17px 0 0;
    width: 166px;
}
.project_name {
    font-size: 154%;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}
.project_place {
    font-size: 116%;
    margin: 0 0 5px;
}
.center_navigation {
    display: inline-block;
    padding: 0;
    margin: 0 18px 51px 0;  
}
.center_navigation li {
    display: inline-block;
    position: relative;
    padding: 5px 15px 0;
    margin: 0;
}
.center_navigation li:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 33px;
    background: #b7b9b8;
    right: -5px;
    top: 0;
}
.center_navigation li:last-child:after {
    display: none;
}
.center_navigation li a {
    color: #9b2b2a;
    font-size: 120%;
}
.center_navigation li a:hover {
    text-decoration: none;
}
.center_navigation li.active a{
    text-decoration: none;
    color: #333333;
}
.tabs_content {
    padding: 2px 5px 70px;
}
.tabs_content > div {
    display: none;
}
.project_section {
    margin: 0 2px 30px;
}
.project_section img {
    border-radius: 5px;
    float: left;
}
.project_section .gray_content {
    margin: 0 0 0 320px;
    background: #f4f2eb;
    border-radius: 5px;
    height: 160px;
    padding: 20px 210px 20px 20px;
    position: relative;
    color: #333333;
}
.project_section .gray_content > img {
    border-radius: 0;
    position: absolute;
    right: 56px;
    top: 20px;
}
.project_section .gray_content .links {
    position: absolute;
    left: 23px;
    bottom: 5px;
}
.pr_name {
    font-size: 138%;  
    font-weight: bold;
    margin: 0;
    line-height:1.1;
    text-transform: uppercase;
}
.pr_type {
    font-size: 122%; 
    font-weight: bold;
     text-transform:lowercase;
}
.project_section .gray_content .links  a {
    line-height: 2;
    font-size:113%;
}
.pr_description {
    font-size: 111%; 
}
.mr20 {
    margin-right: 20px;
}
.korpus,
.choose_floor,
.bread_crumbs_big,
.floor_title {
    border-top: 1px solid #e2e2e2;
    text-align: center;
    margin: 10px 0 27px;
}
.floor_title {
    margin-top: 90px;
}
.korpus a {
    padding: 10px 29px;
    position: relative;
    background: #ffffff;
    text-decoration: none;
    font-size: 146%;
    line-height: 1.4;
    border-radius: 10px;
    height: 26px;
}
.korpus a.active {
    background: #f4f2eb;
}
.korpus  i {
    vertical-align: top;
    width: 10px;
    height: 46px;
    background: #ffffff;
}
.korpus > div,
.choose_floor > div {
    clear: both;
    display: inline-block;
    background: #ffffff;
    padding: 0 10px;
}
.korpus > div {
    position: relative;
    top: -25px;
}
.korpus i,
.korpus a {
    float:left;
}
.tabs_korpus > div {
    display: none;
}
.floor {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 30px;
    background: #f4f2eb;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
}
.floor.active {
    background: #b8b9b8;
    color: #ffffff;
}
.choose_floor > div {
    position: relative;
    top: -16px;
    font-size: 145%;
    line-height: 1.7;
}
.choose_section_title {
    font-size: 145%;
    line-height: 1.2;
    border-top: 1px solid #e2e2e2;
    text-align: center;
}
.choose_section_title > span {
    padding: 0 10px;
    display: inline-block;
    position: relative;
    top: -13px;
    background: #ffffff;
}
.section_flat {
    overflow: hidden;
}
.flat_box {
    float: left;
    padding: 23px 31px;
    width: 172px;
    font-size: 96%;
    border:1px solid #ffffff;
    margin: 20px 0 0;
}
.flat_box:hover{
    background: #f7f7f7;
    border:1px solid #e2e2e2;
}
.flat_box table {
    width: 100%;
}
.flat_box table td {
    vertical-align: bottom;
}
.flat_num span {
    font-size: 134%;
    color: #333333;
    display: inline-block;
    background: #f4f2eb;
    height: 33px;
    padding: 0 15px;
    line-height: 2.2;
    border-radius: 10px;
}
.flat_box:hover .flat_num span { 
    background: #b8b9b8;
    color: #ffffff;
}
.total_summ {
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap;
    margin: 8px 0 0;
}
.flat_box img {
    margin: 10px 0;
}
.map_container {
    position: relative;
    margin: 30px 0;
}
.popover {
    color: #333333;
    font-size: 12px;
    line-height: 16px;
}
.popover_style {
    position: absolute;
}
.expl_colors {
    text-align: left;
    font-size: 70%;
    position: absolute;
    left: 120px;
    top: 330px;
}
.expl_colors p {
    margin: 0 0 3px;
    overflow: hidden;
}

.expl_colors  i {
    border:1px solid #666666;
    display: block;
    width: 51px;
    height: 21px;
    float: left;
    margin: 0 10px 0 0;
}
.one_room {
    background: #e7ffdf;
}
.two_room {
    background: #dcfffe;
}
.three_room {
    background: #feebb4;
}
.zero_room {
    background: #ffe3ff;
}
.table_style {
    width: 155px;
}
.table_style > div {
    overflow: hidden;
}
.pull-left{ 
    float: left;
}
.pull-right {
    float: right;
}

.bread_crumbs_big,
.floor_title {
    font-size: 16px;
    color: #333333;
}
.bread_crumbs_big  div,
.floor_title  div {
    position: relative;
    top: -11px;
    background: #FFFFFF;
    clear: both;
    display: inline-block;
    padding: 0 15px;
}
.bt0 {
    border-top: 0;
}









/*bootstrap*/
.popover {
  position: absolute;
  z-index: 1010;
  left: 0;
  top: 0;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

.popover.top {
  margin-top: -10px;
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}

.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.popover-content {
  padding: 9px 14px;
}

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover .arrow {
  border-width: 11px;
}

.popover .arrow:after {
  border-width: 10px;
  content: "";
}

.popover.top .arrow {
  bottom: -11px;
  left: 50% !important;
  margin-left: -11px;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}

.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
  content: " ";
}

.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}

.popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
  content: " ";
}

.popover.bottom .arrow {
  top: -11px;
  left: 50% ;
  margin-left: -11px;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}

.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
  content: " ";
}

.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}

.popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ffffff;
  border-right-width: 0;
  content: " ";
}


.position_1 {
    left: 0 !important;
    top: 0 !important;
}
.position_2 {
    left: 100px !important;
    top: 100px !important;
}
.position_3 {
    left: 120px !important;
    top: 0 !important;
}
.position_4 {
    left: 170px !important;
    top: 0 !important;
}
.position_5 {
    left: 300px !important;
    top: 100px !important;
}