<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title></title>
    <meta name="viewport" content="width=1100" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" /> 
    
    <link href="css/style.css" rel="stylesheet" />
    
    <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="js/jquery.maphilight.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    
    <!--[if IE 8]> 
        <link href="css/styles_ie8.css" rel="stylesheet" />
    <![endif]-->
</head>
<body>
    <a href="#" title="" class="write_us_link"></a>
    <div class="main_wrap">
        <div class="header">
            <div class="header_contacts">
                <p class="phone">+7 (812) 313-69-82</p>
                <p class="header_contactme"><a href="#" title="">Запрос звонка</a></p>
            </div>
            <span class="logo"><img src="images/logo.png" alt="" /></span>
            <ul class="header_menu">
                <li><a href="#" title="">Объекты</a></li>
                <li><a href="#" title="">Новости</a></li>
                <li><a href="#" title="">Компания</a></li>
                <li><a href="#" title="">Контакты</a></li>
            </ul>
        </div>
        <div class="content">
            
            <div class="gallery_main">
                <div class="jcarousel">
                    <ul>
                        <li>
                            <img src="images/gallery_img.jpg" width="924" height="215" alt="" />
                            <div class="strict_solution">
                                <img src="images/smalny.png" alt=""  />
                                <p class="strict_solution_title">четкие условия в смольном</p>
                                <p class="sale_solution">20% СКИДКА ПРИ ЕДИНОВРЕМЕННОЙ ОПЛАТЕ</p>
                                <p><a href="#" title="" class="green_btn">Узнать больше</a></p>
                            </div>
                        </li>
                        <li>
                            <img src="images/gallery_img1.jpg" width="924" height="215" alt="" />
                            <div class="strict_solution">
                                <img src="images/smalny.png" alt=""  />
                                <p class="strict_solution_title">четкие условия в смольном</p>
                                <p class="sale_solution">20% СКИДКА ПРИ ЕДИНОВРЕМЕННОЙ ОПЛАТЕ</p>
                                <p><a href="#" title="" class="green_btn">Узнать больше</a></p>
                            </div>
                        </li>
                        <li>
                            <img src="images/gallery_img2.jpg" width="924" height="215" alt="" />
                            <div class="strict_solution">
                                <img src="images/smalny.png" alt="" />
                                <p class="strict_solution_title">четкие условия в смольном</p>
                                <p class="sale_solution">20% СКИДКА ПРИ ЕДИНОВРЕМЕННОЙ ОПЛАТЕ</p>
                                <p><a href="#" title="" class="green_btn">Узнать больше</a></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <a href="#" class="jcarousel-control-prev"></a>
                <a href="#" class="jcarousel-control-next"></a>
                
                <p class="jcarousel-pagination"></p>
            </div>
            
            <div class="project_box">
                <div class="footer_socials">
                    <i class="icon-social_fb"></i>
                    <i class="icon-social_tw"></i>
                    <i class="icon-social_gpl"></i>
                    <i class="icon-social_ytube"></i>
                    <i class="icon-social_vk"></i>
                </div>
                <img src="images/smalny.png" alt="" width="102" height="45" />
                <div class="cc">
                    <p class="project_name">Коттеджный поселок СМОЛЬНЫЙ</p>
                    <p class="project_place">Ленинградская область, Поселок Сертолово</p>
                </div>
            </div>
            <div class="text-center">
                <ul class="center_navigation">
                    <li class="active"><a href="#plans" title="">Планировки</a></li>
                    <li><a href="#actions" title="">Акциии</a></li>
                    <li><a href="#progress" title="">Ход строительства </a></li>
                    <li><a href="#placement" title="">Расположение</a></li>
                    <li><a href="#documentation" title="">Документация </a></li>
                    <li><a href="#options" title="">Варианты оплаты</a></li>
                </ul>
            </div>
            <div class="tabs_content">
                <div id="plans" style="display: block;">
                    <div class="bread_crumbs_big">
                       <div> <a href="#" title="">Ладожский берег, корпус 1</a> /
                       <a href="#" title=""> Этаж 3 </a> / Квартира 22</div>
                    </div>
                    <div class="text-center">
                        <img src="images/pl_img.jpg" alt=""  />
                        <div class="right_info">
                            <div class="gray_box22">
                                <table>
                                    <tr>
                                        <td>Количество комнат</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Общая площадь</td>
                                        <td>77 м<sup>2</sup></td>
                                    </tr>
                                    <tr>
                                        <td>Жилая площадь</td>
                                        <td>55 м<sup>2</sup></td>
                                    </tr>
                                    <tr>
                                        <td>Площадь кухни</td>
                                        <td>11 м<sup>2</sup></td>
                                    </tr>
                                    <tr>
                                        <td>Тип санузла</td>
                                        <td>Совмещенный</td>
                                    </tr>
                                    <tr>
                                        <td>Этаж</td>
                                        <td>3</td>
                                    </tr>
                                </table>
                                <p>Стоимость: <b>2 340 000 руб.</b></p>
                            </div>
                            <p class="text-center"><a href="#" title="" class="print_link">Распечатать</a></p>
                            <p class="office">Отдел продаж: <b>+7 (812) 777-000-1</b></p>
                        </div>
                    </div>
                    <div class="floor_title">
                       <div> Этаж 3</div>
                    </div>
                    <div class="choose_floor bt0">
                        <div class="text-center map_container">
                            <img src="images/plan.png" border="0" width="691" height="703" orgWidth="691" orgHeight="703"  alt="" class="map" usemap="#features" />
                            <map name="features">
                                <area  alt="" title="" href="javascript:void(0)" shape="poly" coords="312,112,313,189,345,189,351,205,382,197,380,188,381,168,417,169,417,114" style="outline:none;" target="_self"     data-maphilight='{"strokeColor":"fed869", "fillColor":"f0b917","alwaysOn":true}'  
                                data-placement="top" data-content="Квартира номер 5"   data-container="div.map_container"  class="popover_style position_5" />
                            </map>
                        </div>
                    </div>
                    <!--div class="tabs_korpus">
                        <div id="korpus1-tab" style="display: block;">
                            <div class="choose_floor">
                                <div>
                                    Выбор этажа: &nbsp;
                                    <a href="#floor1-tab" title="" class="floor active">1</a>
                                    <a href="#floor2-tab" title="" class="floor">2</a>
                                    <a href="#floor3-tab" title="" class="floor">3</a>
                                    <a href="#floor4-tab" title="" class="floor">4</a>
                                    <a href="#floor5-tab" title="" class="floor">5</a>
                                </div>
                                <div class="text-center map_container">
                                    <img src="images/plan.png" border="0" width="691" height="703" orgWidth="691" orgHeight="703"  alt="" class="map" usemap="#features" />
                                    <map name="features">
                                  
                                        <area  alt="" title="" href="javascript:void(0)" shape="poly" coords="2,25,37,20,69,19,70,97,61,88,59,94,59,113,38,111,40,188,0,181" style="outline:none;"
                                        target="_self"   data-maphilight='{"strokeColor":"fed869", "fillColor":"fed869", "alwaysOn":true}'  data-container="div.map_container" data-placement="top"  data-content="Квартира номер 1"  class="popover_style position_1"   />
                                        
                                        <area  alt="" title="" href="javascript:void(0)" shape="poly" coords="141,15,213,17,208,96,140,97" style="outline:none;" target="_self"  
                                        data-maphilight='{"strokeColor":"aef992", "fillColor":"aef992", "alwaysOn":true}'  data-container="div.map_container" data-placement="top"  data-content="Квартира номер 3"  class="popover_style position_1 position_3"  />
                                        
                                        <area  alt="" title="" href="javascript:void(0)" shape="poly" coords="211,19,245,18,247,95,213,96" style="outline:none;" target="_self"   
                                        data-maphilight='{"strokeColor":"fb99fb", "fillColor":"fb99fb", "alwaysOn":true}' data-container="div.map_container" data-placement="top"  data-content="Квартира номер 4"  class="popover_style position_4"  />
                                        
                                        <area  alt="" title="" href="javascript:void(0)" shape="poly" coords="107,114,171,115,177,199,139,205,140,183,108,188" style="outline:none;" target="_self"    
                                         data-maphilight='{"strokeColor":"4cefed", "fillColor":"4cefed","alwaysOn":true}'  data-container="div.map_container" data-placement="top"  data-content="Квартира номер 2"  class="popover_style position_2" />
                                        
                                        <area  alt="" title="" href="javascript:void(0)" shape="poly" coords="312,112,313,189,345,189,351,205,382,197,380,188,381,168,417,169,417,114" style="outline:none;" target="_self"     data-maphilight='{"strokeColor":"fed869", "fillColor":"f0b917","alwaysOn":true}'  
                                        data-placement="top" data-content="Квартира номер 5"   data-container="div.map_container"  class="popover_style position_5" />
                                    </map>
                                    <div class="expl_colors">
                                        <p><i class="one_room"></i>Однокомнатные квартиры </p>
                                        <p><i class="two_room"></i>Двухкомнатные квартиры </p>
                                        <p><i class="three_room"></i>Трехкомнатные квартиры </p>
                                        <p><i class="zero_room"></i>Квартиры студии </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs_floors">
                                    <div class="choose_section">
                                        <p class="choose_section_title"><span>Выбор квартиры</span></p>
                                        <div class="clear">
                                            <div class="section_flat"> 
                                                <div class="flat_box">
                                                    <p class="flat_num text-center"><span>Квартира 22</span></p>
                                                    <p class="text-center"><img src="images/flats/img.png" alt="" /></p>
                                                    <div class="table_style">
                                                        <div>
                                                            <div class="pull-left">Количество комнат:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right">3<sup>&nbsp;</sup></div>
                                                        </div>
                                                        <div>
                                                            <div class="pull-left">Общая площадь:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right"> 67,20 м<sup>2</sup></div>
                                                        </div>
                                                        <div>
                                                            <div class="pull-left">Этаж:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right">3<sup>&nbsp;</sup></div>
                                                        </div>
                                                        <p class="total_summ">Стоимость:&nbsp;&nbsp;&nbsp;2 340 000 руб.</p>
                                                    </div>
                                                </div>
                                                <div class="flat_box active">
                                                    <p class="flat_num text-center"><span>Квартира 22</span></p>
                                                    <p class="text-center"><img src="images/flats/img.png" alt="" /></p>
                                                    <div class="table_style">
                                                        <div>
                                                            <div class="pull-left">Количество комнат:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right">3<sup>&nbsp;</sup></div>
                                                        </div>
                                                        <div>
                                                            <div class="pull-left">Общая площадь:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right"> 67,20 м<sup>2</sup></div>
                                                        </div>
                                                        <div>
                                                            <div class="pull-left">Этаж:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right">3<sup>&nbsp;</sup></div>
                                                        </div>
                                                        <p class="total_summ">Стоимость:&nbsp;&nbsp;&nbsp;2 340 000 руб.</p>
                                                    </div>
                                                </div>
                                                <div class="flat_box">
                                                    <p class="flat_num text-center"><span>Квартира 22</span></p>
                                                    <p class="text-center"><img src="images/flats/img.png" alt="" /></p>
                                                    <div class="table_style">
                                                        <div>
                                                            <div class="pull-left">Количество комнат:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right">3<sup>&nbsp;</sup></div>
                                                        </div>
                                                        <div>
                                                            <div class="pull-left">Общая площадь:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right"> 67,20 м<sup>2</sup></div>
                                                        </div>
                                                        <div>
                                                            <div class="pull-left">Этаж:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right">3<sup>&nbsp;</sup></div>
                                                        </div>
                                                        <p class="total_summ">Стоимость:&nbsp;&nbsp;&nbsp;2 340 000 руб.</p>
                                                    </div>
                                                </div>
                                                <div class="flat_box">
                                                    <p class="flat_num text-center"><span>Квартира 22</span></p>
                                                    <p class="text-center"><img src="images/flats/img.png" alt="" /></p>
                                                    <div class="table_style">
                                                        <div>
                                                            <div class="pull-left">Количество комнат:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right">3<sup>&nbsp;</sup></div>
                                                        </div>
                                                        <div>
                                                            <div class="pull-left">Общая площадь:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right"> 67,20 м<sup>2</sup></div>
                                                        </div>
                                                        <div>
                                                            <div class="pull-left">Этаж:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right">3<sup>&nbsp;</sup></div>
                                                        </div>
                                                        <p class="total_summ">Стоимость:&nbsp;&nbsp;&nbsp;2 340 000 руб.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear">
                                                <div class="flat_box">
                                                    <p class="flat_num text-center"><span>Квартира 22</span></p>
                                                    <p class="text-center"><img src="images/flats/img.png" alt="" /></p>
                                                    <div class="table_style">
                                                        <div>
                                                            <div class="pull-left">Количество комнат:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right">3<sup>&nbsp;</sup></div>
                                                        </div>
                                                        <div>
                                                            <div class="pull-left">Общая площадь:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right"> 67,20 м<sup>2</sup></div>
                                                        </div>
                                                        <div>
                                                            <div class="pull-left">Этаж:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right">3<sup>&nbsp;</sup></div>
                                                        </div>
                                                        <p class="total_summ">Стоимость:&nbsp;&nbsp;&nbsp;2 340 000 руб.</p>
                                                    </div>
                                                </div>
                                                <div class="flat_box">
                                                    <p class="flat_num text-center"><span>Квартира 22</span></p>
                                                    <p class="text-center"><img src="images/flats/img.png" alt="" /></p>
                                                    <div class="table_style">
                                                        <div>
                                                            <div class="pull-left">Количество комнат:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right">3<sup>&nbsp;</sup></div>
                                                        </div>
                                                        <div>
                                                            <div class="pull-left">Общая площадь:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right"> 67,20 м<sup>2</sup></div>
                                                        </div>
                                                        <div>
                                                            <div class="pull-left">Этаж:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right">3<sup>&nbsp;</sup></div>
                                                        </div>
                                                        <p class="total_summ">Стоимость:&nbsp;&nbsp;&nbsp;2 340 000 руб.</p>
                                                    </div>
                                                </div>
                                                <div class="flat_box">
                                                    <p class="flat_num text-center"><span>Квартира 22</span></p>
                                                    <p class="text-center"><img src="images/flats/img.png" alt="" /></p>
                                                    <div class="table_style">
                                                        <div>
                                                            <div class="pull-left">Количество комнат:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right">3<sup>&nbsp;</sup></div>
                                                        </div>
                                                        <div>
                                                            <div class="pull-left">Общая площадь:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right"> 67,20 м<sup>2</sup></div>
                                                        </div>
                                                        <div>
                                                            <div class="pull-left">Этаж:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right">3<sup>&nbsp;</sup></div>
                                                        </div>
                                                        <p class="total_summ">Стоимость:&nbsp;&nbsp;&nbsp;2 340 000 руб.</p>
                                                    </div>
                                                </div>
                                                <div class="flat_box">
                                                    <p class="flat_num text-center"><span>Квартира 22</span></p>
                                                    <p class="text-center"><img src="images/flats/img.png" alt="" /></p>
                                                    <div class="table_style">
                                                        <div>
                                                            <div class="pull-left">Количество комнат:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right">3<sup>&nbsp;</sup></div>
                                                        </div>
                                                        <div>
                                                            <div class="pull-left">Общая площадь:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right"> 67,20 м<sup>2</sup></div>
                                                        </div>
                                                        <div>
                                                            <div class="pull-left">Этаж:<sup>&nbsp;</sup></div>
                                                            <div class="pull-right">3<sup>&nbsp;</sup></div>
                                                        </div>
                                                        <p class="total_summ">Стоимость:&nbsp;&nbsp;&nbsp;2 340 000 руб.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                            </div>
                        </div>
                        <div id="korpus2-tab">
                            korpus2
                        </div>
                    </div-->
                </div>
                <div id="actions"><p>Функции Генерального подрядчика: ООО «Вертикаль».</p></div>
                <div id="progress"><p>Функции Генерального подрядчика: ООО «Вертикаль».</p></div>
                <div id="placement"><p>Функции Генерального подрядчика: ООО «Вертикаль».</p></div>
                <div id="documentation"><p>Функции Генерального подрядчика: ООО «Вертикаль».</p></div>
                <div id="options"><p>Функции Генерального подрядчика: ООО «Вертикаль».</p></div>
            </div>
            
        </div>
        <div class="footer">
            <div class="ov_hidden text-center">
                <ul class="footer_menu">
                    <li><a href="#" title="">Компании группы </a></li>
                    <li><a href="#" title="">Лицензии</a></li>
                    <li><a href="#" title="">Инвесторам</a></li>
                    <li><a href="#" title="">Благотворительноcть</a></li>   
                    <li><a href="#" title="">Вакансии</a></li> 
                </ul>
           </div>
           <div class="ov_hidden">
                <hr  class="footer_hr"/>
                <p class="copyright">&copy; 2014 ООО "Невская Строительная Компания"</p>
                <div class="footer_address">
                    <p>197022, г. Санкт-Петербург, ул. Профессора Попова, д.37В, 3-й этаж,  офис 317. Бизнес Центр "Сенатор"</p>
                    <p>+7 (812) 313-69-82    <a href="#" title="">sale@nevscom.ru</a></p>
                </div>
            </div>
        </div>
    </div>
</body>